#add_new_product{
    float:right; 
    margin-right:-227px;
    margin-top:6px;
    width:200px;
    height:55px;
}
.btn-default{
    background: linear-gradient(rgba(82,81,81,0.5), rgba(10,2,2,0.8));
    border-color:white;
    color:white;
}
.button-delete{
    position:absolute;
    top:336px;
    margin-left:125px;
    width:45%;
    height:40px;
    background: linear-gradient(rgb(249,238,238), rgb(181,171,171));
    color:red;
    border: 2px solid red;
}
.button-edit{
    position:absolute;
    top:336px;
    width:45%;
    height:40px;
    margin-right:18px;
    background: linear-gradient(rgba(130,124,124,0.5), rgba(187,183,183,0.8));
    border:2px solid black;
    color:black;
}
.btn-default.active.focus,.btn-default:hover,.btn-default:focus,.btn-default:active, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
    border-color:#33302b;
    background: linear-gradient(rgba(82,81,81,0.5), rgba(10,2,2,0.8));
    color:white;
}
.button-delete.active.focus,.button-delete:hover,.button-delete:focus,.button-delete:active, .button-delete.active:focus, .button-delete.active:hover, .button-delete:active.focus, .button-delete:active:focus, .button-delete:active:hover, .open>.dropdown-toggle.button-delete.focus, .open>.dropdown-toggle.button-delete:focus, .open>.dropdown-toggle.button-delete:hover{
    border-color: red;
    background-image: linear-gradient(red,indianred);
    background: linear-gradient(rgba(232,127,127,1), rgba(202,87,87,1));
    color:white;
}
/*ADMIN-ADD-NEW-SCHEDULE*/
.admin-add-new-schedule{
    margin: 0 auto;
    width: 500px;
}
.admin-add-new-schedule-datetimepicker1{
    width: 50%;
}
.admin-add-new-schedule-h2-all-trips{
    margin: 0 auto;
    width: 300px;
}
/*ADMIN-ADD-NEW-SCHEDULE -END-*/
/*ADMIN-LOGIN-ADMINKA*/
#login_form1-adminka{
    border:1px solid #ddd;
    display:inline-block;
    width:300px;
    margin-left:450px;
    margin-top: 100px;
}
.feedbacko-admin-login{
    display:block;
}
/*ADMIN-LOGIN-ADMINKA -END-*/
/*ADMIN-ALL-DEPARTMENTS*/
#FormControlInputPhoto{
    margin-top:20px;
}
#FormControlInputPhotoDiv{
    margin-bottom:20px;
}
/*ADMIN-ALL-DEPARTMENTS -END-*/
#left-block li{
    position:relative;
}
/*FOOTER*/
.my-footer{
    background:#515456;
    color:#a9a1a1;
    margin-top:315px;
}
.footer_hr{
    border-top:1px solid #6f6b6b;
}
.my-footer li a{
    color:#a9a1a1;
}
.my-footer h5{
    color:#f9e2e2;
}
.footer_hr_second{
    border-top:1px solid #6f6b6b;
}
.footer_of_footer{
    background:#2d3031;
}
.list_of_contact_footer li{
    color:#7a9dbb
}
.button_footer{
    border-radius: 50%;
}
/*FOOTER*/
/*NEWS OF CONMPANY*/
#FormControlInputTitle{
    margin-bottom:15px;
}
#FormControlInputPhoto{
    margin-bottom:15px;
}
#allNews ul li{
    list-style:none;
}
.admin_text_description_of_new{
    margin-bottom:15px;
}
.new_admin_div_edition{
    border:1px solid #ddd;
    padding:10px 10px 30px 10px;
    margin-left:-41px;
    margin-bottom:20px;
}
.new_admin_div_edition div{
    display:flex;
}
.new_admin_div_button{
    float:right;
}
.reviews-edition.edit a{
    color:#a06d0f;
}
.reviews-edition.delete a{
    color:red;
}
.new_admin_div_info{
    width:65%;
    display:block;
}
.new_admin_div_info li{
    list-style:none;
    float:left;
    margin-bottom:15px;
}
.new_admin_div_info h4{
    font-weight:bold;
    font-size:18px;
}
.new_admin_div_button p{
    margin-left:15px;
}
.add_new_admin{
    margin-left:585px;
    margin-top:15px;
    margin-bottom:15px;
}
/*NEWS OF COMPANY*/